.container-cards{
  display: grid;
  gap: 1rem;
  grid-auto-flow: dense;
  grid-auto-columns: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}
.button-add-card{
  border: none;
  background-color: transparent;
}
.load-more-button{
  display: flex;
  align-items: center;
  
  padding: 5px 30px;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  background-color: #44dddd;
}